.container#admins-div
  #admin-create-modal.modal.hide
    .modal-header
      %button.close{'type' => 'button', 'data-dismiss' => 'modal'}
        x
      %h3 Create Admin
    %form.modal-form.form-horizontal{'data-bind' => 'submit: createAdmin'}
      .modal-body
        %fieldset
          .control-group
            %label.control-label{ 'for' => 'email' } Email
            .controls
              %input.input-medium#email{'name' => 'email', 'type' => 'email', 'data-bind' => 'value: email', 'required' => 'required'}
          .control-group
            %label.control-label{ 'for' => 'password' } Password
            .controls
              %input.input-medium#password{'name' => 'password', 'type' => 'password', 'data-bind' => 'value: password', 'required' => 'required'}
          .control-group
            %label.control-label{:for => 'phone_number' } Phone Number
            .controls
              %input.input-medium#phone_number{:name => 'phone_number', :type => 'text','data-bind' => 'value: phone_number', 'required' => 'required'}
      .modal-footer
        %a.btn{'data-dismiss' => 'modal', 'href' => '#'} Close
        %input.btn.btn-success{ 'type' => 'submit', 'value' => 'Save'}
  #admin-edit-modal.modal.hide
    .modal-header
      %button.close{'type' => 'button', 'data-dismiss' => 'modal'}
        x
      %h3 Edit or Delete Admin
    %form.modal-form.form-horizontal{'data-bind' => 'submit: editAdmin'}
      .modal-body
        %fieldset
          .control-group
            %label.control-label{'for' => 'email'} Email
            .controls
              %input.input-medium#email{'name' => 'email', 'type' => 'email', 'data-bind' => 'value: email', 'required' => 'required'}
          .control-group
            %label.control-label{'for' => 'phone_number'} Phone Number
            .controls
              %input.input-medium#phone_number{'name' => 'phone_number', 'type' => 'text', 'data-bind' => 'value: phone_number', 'required' => 'required'}
      .modal-footer
        %a.btn{'data-dismiss' => 'modal', 'href' => '#close'} Close
        %input.btn.btn-success{'type' => 'submit', 'value' => 'Save'}
        %button.btn{ 'data-bind' => 'click: $parent.deleteAdmin'}
  #admin-subscription-modal.modal.hide
    .modal-header
      %button.close{'type' => 'button', 'data-dismiss' => 'modal'}
        x
      %h3 Create Subscription
    %form.modal-form.form-horizontal{'data-bind' => 'submit: createSubscription'}
      .modal-body
        %fieldset
          .control-group
            %label.control-label{ 'for' => 'phone_number' } Phone Number
            .controls
              %input.input-medium#phone_number{'name' => 'phone_number', 'type' => 'text', 'data-bind' => 'value: phone_number', 'readonly' => 'readonly'}
          .control-group
            %label.control-label{ 'for' => 'unknown_show_name' } Unknown Show Name
            .controls
              %input.input-medium#unknown_show_name{'name' => 'unknown_show_name', 'type' => 'text', 'data-bind' => 'value: unknown_show_name', 'readonly' => 'readonly'}
          .control-group
            %label.control-label{:for => 'shows' } Available Shows
            .controls
              %select#shows{'name' => 'shows', 'data-bind' => "enable: true, options: shows, optionsText: 'name', value: show, optionsCaption: 'Please Choose...'"}
      .modal-footer
        %a.btn{'data-dismiss' => 'modal', 'href' => '#'} Close
        %input.btn.btn-success{ 'type' => 'submit', 'value' => 'Save'}
  .row
    .span3
      %h1 Admin Console
  .row
    .span3.sidebar
      .well{'role' => 'navigation'}
        %ul.nav.nav-list
          %li.nav-header
            Options
          %li
            %a.home{'data-bind' => 'click: $root.newAdmin' }
              %i.icon-plus-sign
              Add Admin
          - if !admins.empty?
            %li.nav-header
              Admins
            - admins.each do |admin|
              %li
                %a.home{'data-bind' => 'click: $root.edit' }
                  %i.icon-user
                  = admin.email
                  %i.icon-edit
    .span9.container
      %h1= me
      %table
        %thead
          %th Id
        %tbody
          - misspelt_subscriptions.each do |sub|
            %tr
              %td= sub.id


