.container#channels-div
  #channel-edit-modal.modal.hide
    .modal-header
      %button.close{'type' => 'button', 'data-dismiss' => 'modal'}
        x
      %h3 Create or Edit Channel
    %form.modal-form.form-horizontal{'data-bind' => 'submit: createOrUpdate'}
      .modal-body
        %fieldset
          .control-group
            %label.control-label{ 'for' => 'code' } Code
            .controls
              %input.input-mini#code{'name' => 'code', 'type' => 'text', 'data-bind' => 'value: code', 'required' => 'required'}
          .control-group
            %label.control-label{ 'for' => 'name' } Name
            .controls
              %input.input-medium#code{'name' => 'name', 'type' => 'text', 'data-bind' => 'value: name', 'required' => 'required'}
          .control-group
            %label.control-label{:for => 'calendarId' } Calendar Id
            .controls
              %input.input-large#calendarId{:name => 'calendarId', :type => 'text','data-bind' => 'value: calendar_id', 'required' => 'required'}
      .modal-footer
        %a.btn{'data-dismiss' => 'modal', 'href' => '#'} Close
        %input.btn.btn-success{ 'type' => 'submit', 'value' => 'Save'}
  #show-edit-modal.modal.hide
    .modal-header
      %button.close{'type' => 'button', 'data-dismiss' => 'modal'}
        x
      %h3 Create or Edit Show
    %form.modal-form.form-horizontal{'data-bind' => 'submit: createOrUpdateShow'}
      .modal-body
        %fieldset
          .control-group
            %label.control-label{'for' => 'showName'} Name
            .controls
              %input.input-medium#showName{'name' => 'showName', 'type' => 'text', 'data-bind' => 'value: showName', 'required' => 'required'}
          .control-group
            %label.control-label{'for' => 'channel'} Channel
            .controls
              %select#channel{'name' => 'channel', 'data-bind' => "enable: false, options: channels, optionsText: 'name', value: showChannel,optionsCaption: 'Please Choose...'"}
          .control-group
            %label.control-label{'for' => 'description'} Description
            .controls
              %textarea.input-xlarge#description{'name' => 'description', 'data-bind' => 'value: showDescription'}
      .modal-footer
        %a.btn{'data-dismiss' => 'modal', 'href' => '#close'} Close
        %input.btn.btn-success{'type' => 'submit', 'value' => 'Save'}
  .row{ 'data-bind' => 'visible: selected() == null'}
    .span3
      %h1 Channels
  .row{ 'data-bind' => 'visible: selected() == null'}
    .span3.sidebar
      .well{'role' => 'navigation'}
        %ul.nav.nav-list
          %li.nav-header
            Options
          %li
            %a.home{'data-bind' => 'click: $root.newChannel' }
              %i.icon-file
              New Channel
          %li
            %a.home{'data-bind' => 'click: $root.reset' }
              %i.icon-off
              Reset
    .container.span9
      %table.table.table-bordered
        %thead
          %th Code
          %th Name
        %tbody{'data-bind' => 'foreach: channels'}
          %tr
            %td
              %span{ 'data-bind' => 'text: code'}
            %td{ 'data-bind' => 'text: name'}
            %td
              %button.btn{ 'data-bind' => 'click: $parent.edit'}
                %i.icon-edit
              %button.btn{ 'data-bind' => 'click: $parent.delete'}
                %i.icon-trash
              %button.btn{ 'data-bind' => 'click: $parent.selectChannel' }
                %i.icon-list-alt
                Shows
              %button.btn{ 'data-bind' => "attr: { id: code }, click: $parent.syncSchedule", 'data-loading-text' => 'Sync in Progress...' }
                %i.icon-refresh
                Sync
  %section{'data-bind' => 'if: selected() != null'}
    .row{'data-bind' => 'with: selected'}
      .span3
        %h2{ 'data-bind' => 'text: name' }
    .row{'data-bind' => 'with: selected'}
      .span3.sidebar
        .well{'role' => 'navigation'}
          %ul.nav.nav-list
            %li.nav-header
              Options
            %li
              %a.home{'data-bind' => 'click: $root.backHome' }
                %i.icon-arrow-left
                Back
            %li
              %a.home{'data-bind' => 'click: $root.newShow' }
                %i.icon-file
                New Show
      .span9.container
        .row
          .span9
            %h3 Shows
        .row
          .span9
            %table.table.table-bordered
              %thead
                %th Name
                %th Description
                %th
              %tbody{'data-bind' => 'foreach: shows'}
                %tr
                  %td.span3
                    %span{ 'data-bind' => 'text: name'}
                  %td{ 'data-bind' => 'text: description'}
                  %td.span2
                    %button.btn{ 'data-bind' => 'click: $root.editShow'}
                      %i.icon-edit
                    %button.btn{ 'data-bind' => 'click: $root.subscribeToShow'}
                      %i.icon-tag