#subscriptions-div{'data-role' => 'page'}
  #subscriptions-header-div{'data-role' => 'header'}
    %h1 TiVi Console
  #subscriptions-content-div{'data-role' => 'content'}
    %ul{'data-role' => 'listview', 'data-inset' => 'true', 'data-bind' => 'foreach: misspelt'}
      %li
        %a{'href' => '#resolve-div', 'data-rel' => 'dialog'}
          -# %p{ 'data-bind' => 'text: show_name'}
          Misspelt show name
#resolve-div{'data-role' => 'page'}
  #resolve-header-div{'data-role' => 'header'}
    %h1 TiVi
  #resolve-content-div{'data-role' => 'content'}
    %p Misspelt show name
    - if shows.empty?
      No Shows in Database
    - else
      %select#show
        - shows.each do |show|
          %option{'value' => 'show.id'}
            = show.name
    %button.btn{ 'data-bind' => 'click: $root.resolveSubscription', 'data-inline' => 'true', 'data-icon' => 'check', 'data-theme' => 'a'}
      Save