#admins-div
  #subscriptions-div{'data-role' => 'page'}
    #subscriptions-header-div{'data-role' => 'header'}
      %h1 TiVi
    #subscriptions-content-div{'data-role' => 'content'}
      - if misspelt.empty?
        No subscriptions to resolve
      - else
        %ul{'data-role' => 'listview', 'data-inset' => 'true'}
          - misspelt.each do |miss|
            %li
              %h3
                = miss.show_name
              %select{'id' => miss.id}
                %option{'value' => 'no_choice', 'data-placeholder' => 'true'} Select a Show
                - shows.each do |show|
                  %option{'value' => show.id}
                    = show.name
              %button.btn{'data-inline' => 'true', 'data-icon' => 'check', 'data-theme' => 'a', 'onclick' => 'resolveSubscription("' + miss.id + '")'}
                Save
      %input{'type' => 'hidden', 'id' => 'adminId', 'value' => admin_id}