.container#subscriptions-div
  .row
    .span3
      %h1 Subscriptions
    .span9.container
      %table.table.table-bordered
        %thead
          %th
            Date
          %th
            Show
          %th
            Phone Number
          %th
            Status
        %tbody
        - if subscriptions.empty?
          %tr
            %td.centered{ :colspan => 4}
              No Subscriptions
        - subscriptions.each do |sub|
          %tr
            %td
              = sub.from
            %td
              = sub.show.nil? ? sub.show_name : sub.show.name
            %td
              = sub.subscriber.phone_number
            %td
              = sub.active == true ? "Active" : "In-active"

