!!! 5
%html
  %head
    %link{'rel' => 'shortcut icon', 'href' => '/images/favicon.ico'}
    %link{'rel' => 'stylesheet', 'href' => '/css/bootstrap.min.css'}
    %link{'rel' => 'stylesheet', 'href' => '/css/style.css'}
    %link{'rel' => 'stylesheet', 'href' => '/css/admin.css'}
    %link{'rel' => 'stylesheet', 'href' => '/css/bootstrap-responsive.min.css'}

    %title TiVi
  %body
    /! start of top navbar
    -#TODO: Make this a partial
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.brand TiVi
          %ul.nav.pull-right
            %li
              %a{ 'href' =>'/admin'} Channels
            %li
              %a{ 'href' => '/admin/subscription' } Subscriptions
            %li
              %a{ 'href' => '/admin/message' } Messages
            %li
              %a{ 'href' => '/admin/console' }
                Console
                /!- if !unknown_subscriptions.empty?
                /!%span.badge.badge-warning unknown_subscriptions.length

    /! end of top navbar

    /! start the main body
    = yield
    /! end the main body


    /! start the footer

    .container
      %br
      %hr
      %footer
        %span Fancy copyright stuff and privacy policies

    /! end the footer

    /! start of scripts
    %script{ 'type' => 'text/javascript', 'src' => '/javascript/jquery.1.7.2.js'}
    %script{ 'type' => 'text/javascript', 'src' => '/javascript/bootstrap.min.js'}
    %script{ 'type' => 'text/javascript', 'src' => '/javascript/bootbox.min.js'}
    %script{ 'type' => 'text/javascript', 'src' => '/javascript/knockout.js'}
    %script{ 'type' => 'text/javascript', 'src' => '/javascript/js.class.min.js'}
    %script{ 'type' => 'text/javascript', 'src' => '/javascript/underscore-min.js'}
    %script{ 'type' => 'text/javascript', 'src' => '/javascript/sammy.js'}
    %script{ 'type' => 'text/javascript', 'src' => '/javascript/app.js'}
    %script{ 'type' => 'text/javascript', 'src' => '/javascript/channels.js'}
    %script{ 'type' => 'text/javascript', 'src' => '/javascript/admins.js'}
    -#%script{ 'type' => 'text/javascript', 'src' => 'http://static.ak.connect.facebook.com/js/api_lib/v0.4/FeatureLoader.js.php/en_US'}
