.container#channels-div
  #edit-modal.modal.hide
    .modal-header
      %button.close{'type' => 'button', 'data-dismiss' => 'modal'}
        x
      %h3 Channel
    %form.modal-form.form-horizontal{'data-bind' => 'submit: createOrUpdate'}
      .modal-body
        %fieldset
          .control-group
            %label.control-label{ 'for' => 'code' } Code
            .controls
              %input.input-mini#code{'name' => 'code', 'type' => 'text', 'data-bind' => 'value: code', 'required' => 'required'}
          .control-group
            %label.control-label{ 'for' => 'name' } Name
            .controls
              %input.input-medium#code{'name' => 'name', 'type' => 'text', 'data-bind' => 'value: name', 'required' => 'required'}
      .modal-footer
        %a.btn{'data-dismiss' => 'modal', 'href' => '#'} Close
        %input.btn.btn-success{ 'type' => 'submit', 'value' => 'Save'}
  .row
    .span3
      %h1 Channels
    .span9
      #status.alert.alert-success{'data-bind' => 'visible: msg() != null'}
        %span{'data-bind' => 'text: msg'}
  .row
    .span3.sidebar
      .well{'role' => 'navigation'}
        %ul.nav.nav-list
          %li.nav-header
            Options
          %li
            %a.home{'data-toggle' => 'modal', 'href' => '#edit-modal'}
              %i.icon-file
              New Channel
    .container.span9
      %table.table.table-bordered
        %thead
          %th Code
          %th Name
        %tbody{'data-bind' => 'foreach: channels'}
          %tr
            %td
              %a{ 'data-bind' => 'text: code, click: $parent.edit', 'href' => '#'}
            %td{ 'data-bind' => 'text: name'}
