.container#channels-div
  .row
    %h1 Channels
  .row
    .container.span3
      .well-large.form-vertical
        %fieldset
          %legend Edit Channels
          .control-group
            %label.control-label{ 'for' => 'code' } Code
            .controls
              %input.input-mini#code{'name' => 'code', 'type' => 'text', 'data-bind' => 'value: code'}
          .control-group
            %label.control-label{ 'for' => 'name' } Name
            .controls
              %input.input-medium#code{'name' => 'name', 'type' => 'text', 'data-bind' => 'value: name'}
          %input.btn{'type' => 'button', 'data-bind' => 'value: buttonState, click: createOrUpdate' }
    .container.span3
      %table.table.table-bordered
        %thead
          %th Code
          %th Name
        %tbody{'data-bind' => 'foreach: channels'}
          %tr
            %td
              %a{ 'data-bind' => 'text: code, click: $parent.edit', 'href' => '#'}
            %td{ 'data-bind' => 'text: name'}
