.twelve.columns
  .loading{"data-bind" => "visible : loading"}
  .embedded-guide
    .guide{"data-bind" => "visible: !loading()"}
      %ul.topbar
        %li.previous
          %a.previous-slide{:href => "#"}
        %li.title
          %h1{'data-bind' => "text: channel_title"}
        %li.next
          %a.next-slide{:href => "#"}
    #channels{'data-bind' => 'foreach: channels'}
      .channel{'data-bind' => "attr: { id: 'channel-' + code }"}
        .featured
          .current{'data-bind' => 'if: currentShow()'}
            .row{'data-bind' => "with: currentShow()"}
              -#.six.columns
                %h6.up-next
                  NOW SHOWING:
              -#.six.columns

              .six.columns
                %h6
                  %span{'data-bind' => "text: name"}
                  %small
                    %span{'data-bind' => "text: start_time"}
                    %span
                      to
                    %span{'data-bind' => "text: end_time"}
                .img{'data-bind' => 'if: logo_id != null'}
                  %img.promo{"data-bind" => "attr: { src: logo_url, alt: name, title: description }"}
                %p{'data-bind' => "text: description"}
                %div.progress.twelve
                  %span.meter{"data-bind" => "attr: { id: 'pb_' + $parent.code }"}
          .next{'data-bind' => 'if: nextShow()'}
            .row{'data-bind' => "with: nextShow()"}
              -#.six.columns
                %h6
                  NEXT:
              -#.six.columns{'data-bind' => 'if: logo_id != null'}
                %img.promo{"data-bind" => "attr: { src: logo_url }"}
              .six.columns
                %h6
                  %span{'data-bind' => "text: name"}
                  %small
                    %span{'data-bind' => "text: start_time"}
                    %span
                      to
                    %span{'data-bind' => "text: end_time"}
                .img{'data-bind' => 'if: logo_id != null'}
                  %img.promo{"data-bind" => "attr: { src: logo_url, alt: name, title: description }"}
                %p{'data-bind' => "text: description"}
        %ul.accordion{'data-bind' => 'foreach: restOfShows()'}
          %li
            .title
              %h6
                %span{'data-bind' => "text: name"}
                %small
                  %span{'data-bind' => "text: start_time"}
                  %span
                    to
                  %span{'data-bind' => "text: end_time"}
            .content
              %p{'data-bind' => "text: description"}

%script{ 'type' => 'text/javascript', 'src' => 'javascript/model.js'}
%script{ 'type' => 'text/javascript', 'src' => 'javascript/guide.js'}
