.twelve.columns
  .loading{"data-bind" => "visible : loading"}
  .guide{"data-bind" => "visible: !loading()"}
    %ul.topbar
      %li.previous
        %a.previous-slide{:href => "#"}
      %li.title
        %h1
      %li.next
        %a.next-slide{:href => "#"}

  .liquid-slider#slider-id{'data-bind' => 'foreach: channels'}
    %section
      %h2.title{"data-bind" => "text: code"}

      %p{"data-bind" => "text: 'Current show is : ' + current().name "}

%script{ 'type' => 'text/javascript', 'src' => 'javascript/guide.js'}
