.twelve.columns

  -#.liquid-slider#slider-id
  -#  %section
  -#    %h2.title
  -#      Panel
  -#    %p
  -#      Content
  -#  %section
  -#    %h2.title
  -#      Another Panel
  -#    %p
  -#      Another Panel Bacon ipsum dolor sit amet ea et pork chop aliquip, bacon do eu duis kielbasa consectetur meatball

  .liquid-slider#slider-id{'data-bind' => 'foreach: channels'}
    %section
      .row
        %h4{'data-bind' => 'text: code'}
      .row
        .six.columns
          %img{:src => "../images/tivi-logo.gif"}
        .six.columns
          %h6{'data-bind' => "text: currentShow().name"}
          %p{'data-bind' => "text: currentShow().description"}
          %p
            Progress bar
      .row
        .six.columns
          %img{:src => "../images/tivi-logo.gif"}
        .six.columns
          %h6{'data-bind' => "text: nextShow().name"}
          .row
            .six.columns
              %p{'data-bind' => "text: nextShow().description"}
            .six.columns
              %span{'data-bind' => "text: currentShow().start_time"}
              %span
                to
              %span{'data-bind' => "text: currentShow().end_time"}
      .row{'data-bind' => 'foreach: restOfShows()'}
        .row
          .six.columns
            %p{'data-bind' => "text: name"}
          .six.columns
            %span{'data-bind' => "text: start_time"}
            %span
              to
            %span{'data-bind' => "text: end_time"}

:javascript
  $('#slider-id').liquidSlider({

    dynamicTabs : true,
    dynamicArrows: false,
    callbackFunction: function() {
      console.log("Panel has changed");
    }
  });
%script{ 'type' => 'text/javascript', 'src' => 'javascript/guide.js'}
