!!! 5
%html
  %head
    %link{'rel' => 'shortcut icon', 'href' => '/images/favicon.ico'}
    %meta{'name' => 'viewport', 'content' => 'width=device-width, initial-scale=1'}
    = css :foundation
    %script{:type => "application/javascript", :src => "http://code.jquery.com/jquery-1.7.2.min.js"}
    %title TiVi :: Kenya Free TV Guide
  %body
    %header
      .row
        .twelve.columns
          %h3
            %a{:href => '/'}
              = img '/images/tivi-logo.gif'
            %small
              Your Free TV Guide
    = yield

    /! start of scripts
    = js :foundation