!!! 5
%html
  %head
    %link{'rel' => 'shortcut icon', 'href' => '../images/favicon.ico'}
    %link{'rel' => 'stylesheet', 'href' => '../css/bootstrap.min.css'}
    %link{'rel' => 'stylesheet', 'href' => '../css/style.css'}
    %link{'rel' => 'stylesheet', 'href' => '../css/bootstrap-responsive.min.css'}

    %title TiVi
  %body
    .container
      .page-header.logo
        %h1
          %a{ 'href' => '/' }
            %img{ 'src' => '../images/logo.png' }
          %small
            Your Free TV Guide

    -#/! start of top navbar
    -#.navbar.navbar-fixed-top
    -#  .navbar-inner
    -#    .container
    -#      %a.brand TiVi
    -#      %ul.nav.pull-right
    -#        %li
    -#          %a{ 'href' =>'/channels'} Channels
    -#        %li
    -#          %a{ 'href' =>'/login'} Log-in

    /! end of top navbar

    /! start the main body
    = yield
    /! end the main body


    /! start the footer

    .container
      %br
      %hr
      .row
        .span4
          %h6 ADMIN
          %ul.nav.nav-list
            %li
              %a{'href' => '/admin'} Administration
        .span4
          %h6 CONTACT US
          %ul.nav.nav-list
            %li
              %a{'href' => 'mailto:guide@tivi.co.ke'} Email us
        .span4
          %h6 PRIVACY POLICY
      %footer
        %span Fancy copyright stuff and privacy policies

    /! end the footer

    /! start of scripts
    %script{ 'type' => 'text/javascript', 'src' => 'javascript/jquery.1.7.2.js'}
    %script{ 'type' => 'text/javascript', 'src' => 'javascript/bootstrap.min.js'}