!!! 5
%html
  %head
    %meta{'name' => 'viewport', 'content' => 'width=device-width, initial-scale=1'}
    %link{'rel' => 'shortcut icon', 'href' => '/images/favicon.ico'}
    %link{'rel' => 'stylesheet', 'href' => '/css/jquery.mobile-1.1.1.min.css'}

    %title TiVi
  %body

    /! start the main body
    = yield
    /! end the main body

    /! start of scripts
    %script{ 'type' => 'text/javascript', 'src' => '/javascript/jquery.1.7.2.js'}
    %script{ 'type' => 'text/javascript', 'src' => '/javascript/jquery.mobile-1.1.1.min.js'}
    %script{ 'type' => 'text/javascript', 'src' => '/javascript/js.class.min.js'}
    %script{ 'type' => 'text/javascript', 'src' => '/javascript/underscore-min.js'}
    %script{ 'type' => 'text/javascript', 'src' => '/javascript/sammy.js'}
    %script{ 'type' => 'text/javascript', 'src' => '/javascript/mobile.js'}
    -#%script{ 'type' => 'text/javascript', 'src' => 'http://static.ak.connect.facebook.com/js/api_lib/v0.4/FeatureLoader.js.php/en_US'}
