!!! 5
%html
  %head
    %meta{'name' => 'viewport', 'content' => 'width=device-width, initial-scale=1'}
    %script{ 'type' => 'text/javascript', 'src' => '/javascript/jquery.1.7.2.js'}
    %link{'rel' => 'stylesheet', 'href' => '/css/foundation_stylesheets/foundation.min.css'}
    %link{'rel' => 'stylesheet', 'href' => '/css/mobile.css'}
    %link{'rel' => 'shortcut icon', 'href' => '../images/favicon.ico'}
    %title
      TiVi | Kenya Free Television Guide
  %body
    = yield
    %script{ 'type' => 'text/javascript', 'src' => '/javascript/underscore-min.js'}
    %script{ 'type' => 'text/javascript', 'src' => '/javascript/knockout.js'}
    %script{ 'type' => 'text/javascript', 'src' => '/javascript/date.js'}
    %script{ 'type' => 'text/javascript', 'src' => '/javascript/shotgun.js'}
    %script{ 'type' => 'text/javascript', 'src' => '/javascript/swipe.min.js'}
    %script{ 'type' => 'text/javascript', 'src' => '/javascript/foundation_javascripts/modernizr.foundation.js'}