.transparent {
    background: transparent;
}
.loading {
    background: url(/images/tivi-logo.gif) no-repeat center center;
    width: 130px;
    height: 115px;
    margin: auto;
}
.topbar {
    background:#333333;
    min-height: 50px;
    line-height: 50px;
    margin: 0;
    padding: 0;
    width: 100%;
    position: relative;

}

.channel small {
    font-size: 90%;
    float: right;
    margin-right: 20px;
    margin-top: 5px;
}

.current, .next {
    background: #ffffff;
}

h6.up-next {
    margin-bottom: 0px;
    border-bottom: 1px solid #e9e9e9;
}

.current .row {
    border-bottom: 1px solid #e9e9e9;
    padding-bottom: 5px;
    padding-top: 5px;
}


.channel ul.accordion  li  div.title {
    padding: 5px 15px;
}

.channel ul.accordion  li.active  div.title {
    border-bottom: 1px solid #e9e9e9;
}
/*.channel .title {*/
    /*padding: 5px 15px;*/
/*}*/

.embedded-guide {
    margin-bottom: 10px;
}

.topbar li {
    list-style-type: none;
}

.topbar li.title {
    padding: 10px 0px;
}

.bx-viewport {
    /*height: auto !important;*/
}

.topbar li.title h1 {
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.topbar li.previous, .topbar li.next  {
    position: absolute;
    top: 0;
}

.topbar li.next {
    right: 0;
}

.topbar li.previous {
    left: 0;
}

.topbar li.next a, .topbar li.previous a {
    display: block;
    height: 50px;
    width: 39px;
}

.topbar li.previous a {
    background: url(/css/images/foundation/orbit/left-arrow-small.png);
}

.topbar li.next a {
    background: url(/css/images/foundation/orbit/right-arrow-small.png);
}

/*
 * Override foundation .panel styles
 */
.liquid-slider .panel {
   //TODO: remove the grey background here
}