.row
  .twelve.columns
    .loading{"data-bind" => "visible: loading"}
    .guide#guide{"data-bind" => "visible: !loading()"}
      %ul{'data-bind' => 'foreach: channels'}
        %li
          .channel{"data-bind" => "css: code"}
            .header
              .icon
            .shows


%script{ 'type' => 'text/javascript', 'src' => 'javascript/model.js'}
%script{ 'type' => 'text/javascript', 'src' => 'javascript/mobile_guide.js'}
