.row
  .twelve.columns
    .loading{"data-bind" => "visible: loading"}
      %img{:src => "/images/tivi-logo.gif"}


%script{ 'type' => 'text/javascript', 'src' => 'javascript/model.js'}
%script{ 'type' => 'text/javascript', 'src' => 'javascript/mobile_guide.js'}
