
.loading{"data-bind" => "visible: loading"}
.guide#guide.hidden{"data-bind" => "visible: !loading()"}
  %ul{'data-bind' => 'foreach: channels'}
    %li
      .channel{"data-bind" => "css: code"}
        .header
          .icon
        .shows
          .current{'data-bind' => 'if: currentShow()'}
            %div{'data-bind' => "with: currentShow()"}
              .featured
              .img{'data-bind' => 'if: logo_id == null'}
                %img.promo{:src => "/images/temp_show.jpg", "data-bind" => "attr: { alt: name, title: description }"}
              .img{'data-bind' => 'if: logo_id != null'}
                %img.promo{"data-bind" => "attr: { src: logo_url, alt: name, title: description }"}
              .title-bar
                .title
                  .name
                    %h3.subheader
                      %span{"data-bind" => "text: name"}
                      %small.time
                        %span{'data-bind' => "text: start_time"}
                        %span
                          >
                        %span{'data-bind' => "text: end_time"}
                  .now
                    %h1.subheader
                      NOW
              .twelve.columns.body
                %div.progress.twelve
                  %span.meter{"data-bind" => "attr: { id: 'pb_' + $parent.code }"}
          .row.next{'data-bind' => 'if: nextShow()'}
            .twelve.columns.body{'data-bind' => "with: nextShow()"}
              .show
                %h6
                  %span{'data-bind' => "text: name"}
                  %small.time
                    %span{'data-bind' => "text: start_time"}
                    %span
                      >
                    %span{'data-bind' => "text: end_time"}
                %p.description{'data-bind' => "text: description"}
              .starting-bar
                .starting
                  %span.duration{'data-bind' => 'text: $parent.timeToNextShow'}
          .row.remaining
            .twelve.columns.body
              %ul.accordion{'data-bind' => 'foreach: restOfShows()'}
                %li.show
                  .title
                    %h6
                      %span.show-name{'data-bind' => "text: name"}
                      %small.time
                        %span{'data-bind' => "text: start_time"}
                        %span
                          >
                        %span{'data-bind' => "text: end_time"}
                  .content
                    .pointer
                    %p{'data-bind' => "text: description"}
%script{ 'type' => 'text/javascript', 'src' => 'javascript/model.js'}
%script{ 'type' => 'text/javascript', 'src' => 'javascript/mobile_guide.js'}
